@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	box-sizing: border-box;

}

h1 {
	font-size: 60px;
	margin: 20px 0;
}

h2 {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 15px;
	border-top: 1px solid hsl(0, 0%, 20%);
}

h3 {
	font-size: 24px;
}

p {
	font-size: 20px;
}
p:nth-of-type(last) {
	font-size: 80px;
}

.inner-column {
	width: min(90%, 1000px);
	/*margin:  auto;*/
}
body {
	font-family: 'Roboto Mono', monospace;
}

span.conditional {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 20px;
	font-style: italic;
	color: hsl(120, 61%, 50%);
}

.lakers {
	color: hsl(300, 100%, 25%);
	text-shadow: 3px 3px 0px gold;
}

.starting5 {
	font-size: 20px;
}

span.starting5 {
	color: hsl(300, 67%, 20%);
}

.currency {
	color: hsl(60, 56%, 28%);
}

.tax {
	color: hsl(0, 100%, 50%);
}

.income {
	color: hsl(120, 100%, 25%);
}


picture {
	display: block;
	padding:  10px;

}

picture img {
	display: block;
	height: 200px;
	width: 200px;
	border:  2px solid black;
	padding:  10px;
	background-color: #fff;
}

.card-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content:  center;

}

.poke-card {
	border:  2px solid black;
	text-align: center;
	margin:  10px 5px;
}

.poke-card:first-child {
	background-color: green;
}

.poke-card:nth-child(2n) {
	background-color: orange;
}

.poke-card:nth-child(3n) {
	background-color: goldenrod;
}

.poke-card:nth-child(4n) {
	background-color: dodgerblue;
}

.poke-card:nth-child(5n) {
	background-color: maroon;
}

.poke-card:nth-child(6n) {
	background-color: purple;
}
